<section class="content-header">
  <h1 style="margin-left: 230px;float: left">
    Dashboard
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Add Task</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<br>
<br>


<%= render 'form', task: @task, project: @project%>

<%= link_to 'Back', tasks_path %>