

<!--<div class="modal fade" id="myModal">-->
<!--  <div class="modal-dialog modal-sm">-->
<!--    <div class="modal-content">-->

<!--      <!-- Modal Header -->-->
<!--      <div class="modal-header">-->
<!--        <h4 class="modal-title">Model heading</h4>-->
<!--        <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--      </div>-->

<!--      <!-- Modal body -->-->
<!--      <div class="modal-body">-->
<!--        Modal body..-->
<!--      </div>-->

<!--      <!-- Modal footer -->-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->




<%# if params[:employee].present? %>

<%#=f.hidden_field :role_id, value: 3  %>

<%# elsif params[:manager].present?%>

<%#=f.hidden_field :role_id, value: 2  %>

<%# end  %>


<!--<div class="row">-->
<!--  <div class="col-md-6 col-md-offset-3">-->

    <%#= form_tag find_attendence_employee_attendences_path do %>
      <%#= hidden_field_tag :user_id, current_user.id %>

      <%#= label_tag :month %>
      <%#=select_month(Date.today, use_month_names: %w(Januar Februar March ...))%>

<!--      </div>-->

<!--      <div class="actions">-->
        <%#= f.submit "Sign up",class:"btn btn-info" %>
<!--      </div>-->

    <%# end %>
<!--  </div>-->
<!--</div>-->